* {
    border: 0;
    padding: 0;
    margin: 0;
}
canvas {
  postiion: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid gray;
  margin-left:400px;
  margin-top: 30px;
}

.controls {
  position: absolute;
  top: 100px;
  left: 5px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 12px lightskyblue;
}

h1 {
  margin-left: 300px;
}
